In [ ]:
#Question-1

The for loop is used when we already know the number of iterations.
a = [1]
for i in a:
    print(i)

When we need to end the loop on a condition other than the number of times, we use a while loop

In [7]:
#Question-2
#using For loop
sum = 0
product = 1
for i in range(1,11,1):
    sum = sum + i
    product = product * i
print("sum of first 10 natural number using for loop is :",sum,"\nproduct of first 10 natural number using for loop is:",product)

sum of first 10 natural number using for loop is : 55
product of first 10 natural number using for loop is: 3628800

In [10]:
#Question-2
#using while loop
sum = 0
product = 1
counter = 1
while counter <= 10:
    sum = sum + counter
    product = product * counter
    counter = counter + 1
print("sum of first 10 natural number using while loop is :",sum,"\nproduct of first 10 natural number using while loop is :",product)

sum of first 10 natural number using while loop is : 55
product of first 10 natural number using while loop is : 3628800

In [20]:
#Question-3
#using for loop
electricity_consumed_unit = int(input("enter the units of electricity consumed in month"))
if electricity_consumed_unit <= 100:
    charged_amount = 4.5 * electricity_consumed_unit
elif electricity_consumed_unit > 100 and electricity_consumed_unit <= 200:
    charged_amount = 6 * electricity_consumed_unit
elif electricity_consumed_unit > 200 and electricity_consumed_unit <= 300:
    charged_amount = 10 * electricity_consumed_unit
elif electricity_consumed_unit > 300:
    if electricity_consumed_unit == 310:
        charged_amount = 2250
    else:
        charged_amount = 20 * electricity_consumed_unit
 
print("electricity bill is : ", charged_amount)

enter the units of electricity consumed in month 311

electricity bill is :  6220

In [36]:
#Question-4
#using for loop
list = []
list_1 = []
for i in range(1,101):
    list.append(i)
# print(list)
print("cube of each number from the list only divisible by 4 or 5 is :")
for i in range(len(list)):
    cube = list[i] ** 3
    if cube%4 == 0 or cube%5 == 0:
        list_1.append(cube)
print(list_1)

cube of each number from the list only divisible by 4 or 5 is :
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [41]:
#Question-5
string = "I want to become a data scientist"
count = 0
vowel = 'aeiou'
for char in string.lower():
    if char in vowel:
        count = count + 1
print("totel vowel in given string is:",count)

totel vowel in given string is: 12